body {
    background-color: #1b1b1b;
    color: white;
    font-family: "JetBrainsMono NF", serif;
}
pre {
    background-color: #1e1e1e !important; /* Темный фон */
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: auto;
}
.p{
    font-size: 18px;
    font-weight: bold;
}
h1,h2,h3{
    color: lightgray;
}
button{
    background-color: #3b3b3b;
    border-radius: 10px;
    border: 1px #3b3b3b;
    color: #a9b7c6;
}
button:hover {
    background-color: #3b3b3b;
}